/* =======******====== Common css start ======******====== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

/* =======******====== Common css End ======******====== */
.main_menu {
  height: 60px;
}

.main_menu a {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 37px;
  letter-spacing: -0.03em;
  color: #244D4D;
}

.main_menu .menu_item ul li a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #242424;
  margin: 0 15px;
}

.main_menu .menu_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_menu .menu_right .search a {
  color: #242424;
  font-size: 14px;
  margin-right: 15px;
}

.main_menu .menu_right .bars a {
  color: #242424;
  font-size: 14px;
}

#client_part {
  padding: 50px 0 50px;
}

#client_part .shape {
  padding: 40px 0 42px;
  background: #F4F6F6;
}

#client_part .shape .container .head p {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.14em;
  color: #031745;
}

#client_part .shape .container .client_all_logo {
  margin-top: 30px;
}

#client_part .shape .container .client_all_logo .client_one_logo {
  position: relative;
  width: 100px;
}

#client_part .shape .container .client_all_logo .client_one_logo img {
  position: absolute;
  left: 98px;
  top: 11px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#client_part .shape .container .client_all_logo .client_two_logo {
  position: relative;
  width: 100px;
}

#client_part .shape .container .client_all_logo .client_two_logo img {
  position: absolute;
  left: 33px;
  top: 12px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#client_part .shape .container .client_all_logo .client_three_logo {
  position: relative;
  width: 100px;
}

#client_part .shape .container .client_all_logo .client_three_logo img {
  position: absolute;
  left: 33px;
  top: 12px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#client_part .shape .container .client_all_logo .client_four_logo {
  width: 100px;
  position: relative;
}

#client_part .shape .container .client_all_logo .client_four_logo img {
  position: absolute;
  left: 33px;
  top: 12px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#client_part .shape .container .client_all_logo .client_five_logo {
  position: relative;
  width: 100px;
}

#client_part .shape .container .client_all_logo .client_five_logo img {
  position: relative;
  left: 30px;
  top: 9px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#banner_part {
  margin-bottom: 30px;
}

#banner_part .container .banner_slider .banner_image img {
  height: 600px;
  margin-top: 8px;
}

#banner_part .container .banner_slider .prv_arr,
#banner_part .container .banner_slider .nxt_arr {
  position: absolute;
  z-index: 1;
}

#banner_part .container .banner_slider .prv_arr {
  top: 209px;
  left: 883px;
}

#banner_part .container .banner_slider .nxt_arr {
  right: -49px;
  bottom: 335px;
}

#banner_part .container .dots_image {
  position: relative;
  width: 100px;
}

#banner_part .container .dots_image img {
  height: 88px;
  position: absolute;
  left: 88px;
  top: -534px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#banner_part .container .content {
  position: relative;
}

#banner_part .container .content .inner_content {
  position: absolute;
  left: 237px;
  top: -293px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 475px;
  height: 447px;
  background: rgba(255, 255, 255, 0.4);
}

#banner_part .container .content .inner_content h2 {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 900;
  font-size: 58px;
  color: #244D4D;
  margin: 50px 0;
}

#banner_part .container .content .inner_content p {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #5F5F64;
  margin-top: -32px;
}

#banner_part .container .content .inner_content p span {
  display: block;
}

#banner_part .container .icon {
  position: relative;
}

#banner_part .container .icon a {
  padding: 20px 30px;
  background: rgba(241, 241, 241, 0.9);
  color: #313131;
  font-size: 20px;
  position: absolute;
  right: -51px;
  bottom: -42px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#deals_part {
  padding: 40px 0 40px;
}

#deals_part .container .deals_left h2 {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  color: #244D4D;
}

#deals_part .container .deals_left h2 span {
  display: block;
}

#deals_part .container .deals_left p {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #0E0E13;
  margin-top: 11px;
}

#deals_part .container .deals_left p span {
  display: block;
}

#deals_part .container .deals_left .left_image {
  width: 14px;
  position: relative;
}

#deals_part .container .deals_left .left_image img {
  position: absolute;
  left: 107px;
  top: -77px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#deals_part .container .deals_md_one {
  margin-left: 60px;
}

#deals_part .container .deals_md_one .deals_md_image {
  width: 16px;
}

#deals_part .container .deals_md_one h4 {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #3D3D3F;
  margin-top: 15px;
}

#deals_part .container .deals_md_one p {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #0E0E13;
  margin-top: 15px;
}

#deals_part .container .deals_md_one p span {
  display: block;
}

#about_part {
  padding: 80px 0 40px;
}

#about_part .container .about_head h1 {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 76px;
  color: #244D4D;
}

#about_part .container .about_head p {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #64717C;
}

#about_part .container .about_head p span {
  display: block;
}

#about_part .container .submit {
  position: relative;
}

#about_part .container .submit a {
  position: absolute;
  top: 40px;
  right: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #5F5F64;
  padding: 10px 30px;
  background: #F4F6F6;
  -webkit-box-shadow: 0px 100px 80px rgba(36, 77, 77, 0.1), 0px 64.8148px 46.8519px rgba(36, 77, 77, 0.0759259), 0px 38.5185px 25.4815px rgba(36, 77, 77, 0.0607407), 0px 20px 13px rgba(36, 77, 77, 0.05), 0px 8.14815px 6.51852px rgba(36, 77, 77, 0.0392593), 0px 1.85185px 3.14815px rgba(36, 77, 77, 0.0240741);
          box-shadow: 0px 100px 80px rgba(36, 77, 77, 0.1), 0px 64.8148px 46.8519px rgba(36, 77, 77, 0.0759259), 0px 38.5185px 25.4815px rgba(36, 77, 77, 0.0607407), 0px 20px 13px rgba(36, 77, 77, 0.05), 0px 8.14815px 6.51852px rgba(36, 77, 77, 0.0392593), 0px 1.85185px 3.14815px rgba(36, 77, 77, 0.0240741);
  border-radius: 5px;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

#about_part .container .submit a:hover {
  background-color: #3A5F5F;
  -webkit-box-shadow: 0px 100px 80px rgba(36, 77, 77, 0.1), 0px 64.8148px 46.8519px rgba(36, 77, 77, 0.0759259), 0px 38.5185px 25.4815px rgba(36, 77, 77, 0.0607407), 0px 20px 13px rgba(36, 77, 77, 0.05), 0px 8.14815px 6.51852px rgba(36, 77, 77, 0.0392593), 0px 1.85185px 3.14815px rgba(36, 77, 77, 0.0240741);
          box-shadow: 0px 100px 80px rgba(36, 77, 77, 0.1), 0px 64.8148px 46.8519px rgba(36, 77, 77, 0.0759259), 0px 38.5185px 25.4815px rgba(36, 77, 77, 0.0607407), 0px 20px 13px rgba(36, 77, 77, 0.05), 0px 8.14815px 6.51852px rgba(36, 77, 77, 0.0392593), 0px 1.85185px 3.14815px rgba(36, 77, 77, 0.0240741);
  color: #F4F6F6;
}

#about_part .container .information h2 {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 76px;
  color: #244D4D;
}

#about_part .container .information h2 span {
  display: block;
  font-size: 25px;
}

#about_part .container .information p {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #64717C;
}

#about_part .container .break_row {
  margin-top: 45px;
}

#about_part .container .about_image_part_two {
  margin-top: 20px;
}

#about_part .container .about_image_part_four {
  margin-top: 20px;
}

#about_part .container .image_first {
  margin-top: 80px;
}

#about_part .container .second_row {
  margin-top: 70px;
}

/* =======******====== responsive Part ======******====== */
/* =======******====== responsive Part ======******====== */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  #banner_part .container .banner_slider .prv_arr {
    top: 209px;
    left: 851px;
  }
  #banner_part .container .banner_slider .nxt_arr {
    right: -16px;
    bottom: 335px;
  }
}

/* =======******====== Large part three ======******====== */
/* =======******====== Large part three ======******====== */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #banner_part .container .banner_slider .prv_arr {
    top: 209px;
    left: 715px;
  }
  #banner_part .container .banner_slider .nxt_arr {
    right: -15px;
    bottom: 335px;
  }
  #deals_part .container .deals_left h2 {
    font-family: 'Noto Serif JP';
    font-size: 40px;
  }
  #about_part .container .information h2 span {
    display: block;
    font-size: 24px;
  }
  #comment_part .container .container_shape .comment_image .text a {
    left: -933px !important;
    top: 100px;
  }
  #footer_part .container .footer_head h2 {
    font-family: 'Google Sans';
    font-size: 41px !important;
    line-height: 48px !important;
  }
  #footer_part .container .submit a {
    font-family: 'Inter';
    margin: 26px 5px !important;
  }
}

/* =======******====== Large part three ======******====== */
/* =======******====== Large part three ======******====== */
/* =======******====== Medium part ======******====== */
/* =======******====== Medium part ======******====== */
@media (min-width: 768px) and (max-width: 991.98px) {
  #banner_part .container .banner_slider .prv_arr {
    top: 209px;
    left: 703px;
  }
  #banner_part .container .banner_slider .nxt_arr {
    right: -22px;
    bottom: 335px;
  }
  #banner_part .container .content .inner_content {
    position: absolute;
    left: 350px;
    top: -293px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 475px;
    height: 335px;
    background: rgba(255, 255, 255, 0.4);
  }
  #banner_part .container .content .inner_content h2 {
    font-family: 'Noto Serif JP';
    font-size: 40px;
    text-align: center;
  }
  #banner_part .container .content .inner_content p {
    font-family: 'Google Sans';
    font-size: 22px;
    margin-top: -17px;
    text-align: center;
  }
  #banner_part .container .dots_image img {
    left: 120px;
    top: -455px;
  }
  #client_part .shape .container .head p {
    font-family: 'Google Sans';
    font-size: 20px;
  }
  #client_part .shape .container .client_all_logo .client_two_logo img {
    left: 57px;
  }
  #client_part .shape .container .client_all_logo .client_four_logo img {
    left: 21px;
  }
  #client_part .shape .container .client_all_logo .client_five_logo img {
    left: 82px;
  }
  #client_part .shape .container .client_all_logo .client_one_logo img {
    left: 60px;
  }
  #client_part .shape .container .client_all_logo .client_five_logo img {
    left: 39px;
  }
  #deals_part .container .deals_left h2 span {
    display: inline-block;
  }
  #deals_part .container .deals_left h2 {
    font-family: 'Noto Serif JP';
    text-align: center;
  }
  #deals_part .container .deals_left .left_image img {
    left: 550px;
    top: -23px;
  }
  #deals_part .container .deals_left p span {
    display: inline-block;
  }
  #deals_part .container .deals_left p {
    font-family: 'Google Sans';
    font-size: 23px;
    margin-top: 14px;
    text-align: center;
  }
  #deals_part .container .deals_md_one {
    text-align: center;
    margin-left: 0;
  }
  #deals_part .container .deals_md_one h4 {
    font-family: 'Google Sans';
    font-size: 26px;
    margin-top: 30px;
  }
  #deals_part .container .deals_md_one p {
    font-family: 'Google Sans';
    font-size: 20px;
  }
  #deals_part .container .deals_md_one .deals_md_image {
    width: 16px;
    position: relative;
  }
  #deals_part .container .deals_md_one .deals_md_image img {
    position: absolute;
    left: 240px;
    top: 6px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  #deals_part {
    padding: 2px 0 15px;
  }
  #about_part {
    padding: 40px 0 40px;
  }
  #about_part .container .about_head h1 {
    font-family: 'Noto Serif JP';
    text-align: center;
  }
  #about_part .container .about_head p {
    font-family: 'Google Sans';
    line-height: 30px;
    text-align: center;
  }
  #about_part .container .submit a {
    top: 22px;
    right: 192px;
  }
  #about_part .container .information h2 span {
    display: inline-block;
    font-size: 25px;
  }
  #about_part .container .information {
    text-align: center;
    margin-top: 42px;
  }
  #about_part .container .information h2 {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 76px;
    color: #244D4D;
  }
  #about_part .container .information p {
    font-family: 'Google Sans';
    font-size: 20px;
  }
  #about_part .container .information p span {
    display: block;
  }
  .about_image_part_one {
    position: relative;
    width: 350px;
  }
  .about_image_part_two {
    position: relative;
    width: 350px;
  }
  .about_image_part_two img {
    position: absolute;
    left: 174px;
    top: 0px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .about_image_part_three {
    position: relative;
    width: 350px;
  }
  .about_image_part_three img {
    position: absolute;
    right: -364px;
    top: -41px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .about_image_part_four {
    position: relative;
    width: 350px;
  }
  .about_image_part_four img {
    position: absolute;
    right: -364px;
    top: 252px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #about_part {
    padding: 40px 0 200px;
  }
  #product_part {
    padding: 195px 0 30px !important;
  }
  #product_part .container .head h3 {
    font-family: 'Noto Serif JP';
    font-size: 45px !important;
    text-align: center;
  }
  #product_part .container .last_row {
    margin-top: 49px !important;
  }
  .filter_break {
    margin-top: 136px;
  }
  #product_part .container .filter_img .image_filter {
    position: relative;
    width: 100px;
  }
  #product_part .container .filter_img .image_filter img {
    height: 185px;
    left: 305px !important;
    top: -34px;
  }
  #product_part .container .break_down {
    margin-top: 0 !important;
  }
  #product_part .container .last_row {
    margin-top: 40px !important;
  }
  #product_part .container .filter_img .image_back {
    width: 70% !important;
    margin-left: 118px !important;
  }
  #comment_part .container .container_shape .comment_slider {
    margin-top: 38px !important;
  }
  #comment_part .container .folder_image img {
    position: absolute;
    left: 427px !important;
    top: -8px !important;
  }
  #comment_part .container .folder_image::after {
    position: absolute;
    left: 425px !important;
    top: -29px !important;
    width: 34px !important;
    height: 35px !important;
    line-height: 30px !important;
  }
  #comment_part .container .container_shape .folder_image {
    width: 30px !important;
  }
  #comment_part .container .container_shape .head h3 {
    font-family: 'Noto Serif JP';
    font-size: 45px !important;
    line-height: 55px !important;
  }
  #comment_part .container .container_shape .shape_image_one {
    position: relative;
    width: 70px !important;
  }
  #comment_part .container .container_shape .shape_image_one img {
    position: absolute;
    left: 0;
    top: -223px !important;
  }
  #comment_part .container .container_shape .shape_image_two {
    width: 110px !important;
    position: relative;
  }
  #comment_part .container .container_shape .shape_image_two img {
    position: absolute;
    left: 0;
    top: -204px !important;
  }
  #comment_part .container .container_shape .folder_image {
    width: 45px !important;
  }
  #comment_part .container .folder_image img {
    position: absolute;
    left: 555px !important;
    top: -120px !important;
  }
  #comment_part .container .folder_image::after {
    position: absolute;
    left: 555px !important;
    top: -147px !important;
    width: 45px !important;
    height: 45px !important;
    line-height: 30px !important;
  }
  #comment_part .container .container_shape .comment_image .text a {
    left: -342px !important;
  }
  #comment_part .container .container_shape .round_image img {
    position: absolute;
    left: 150px;
    bottom: -59px !important;
  }
  #footer_part .container .footer_head h2 {
    font-family: 'Google Sans';
    font-size: 46px !important;
    line-height: 40px !important;
    text-align: center;
  }
  #footer_part .container .submit {
    text-align: center !important;
  }
  #footer_part .container .submit a {
    font-family: 'Inter';
    font-size: 16px !important;
    line-height: 23px !important;
    text-align: center !important;
    padding: 9px 15px !important;
    margin-top: 15px !important;
  }
  #footer_part .container .footer_logo {
    text-align: center;
    margin-top: -90px !important;
  }
  #footer_part .container .footer_logo p {
    font-family: 'Google Sans';
    margin-top: 14px !important;
  }
  #footer_part .container .footer_logo .social ul {
    margin-left: 279px !important;
  }
  #footer_part .container .types {
    text-align: center;
  }
  #footer_part .container .types {
    text-align: center;
    margin-top: 40px !important;
  }
  #footer_part .container .types .head h4 {
    font-size: 24px !important;
  }
  #footer_part .container .types ul li {
    font-family: 'Inter';
    font-size: 16px !important;
  }
  #footer_part .container .types ul {
    margin-top: 20px !important;
  }
  #footer_part .container::after {
    position: absolute;
    content: '';
    left: 0;
    top: 163px !important;
  }
  #footer_part {
    padding: 30px 0 0px;
    background: #244D4D;
  }
}

/* =======******====== Medium part End ======******====== */
/* =======******====== Medium part End ======******====== */
/* =======******====== Small part one ======******====== */
/* =======******====== Small part one ======******====== */
@media (min-width: 576px) and (max-width: 767.98px) {
  .main_menu .menu_right .bars {
    display: none;
  }
  .main_menu .menu_right .search {
    position: relative;
  }
  .main_menu .menu_right .search a {
    position: absolute;
    right: 245px;
    top: 286px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .navbar-toggler:focus {
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
  }
  .main_menu button {
    position: relative;
  }
  .main_menu button i {
    color: #244D4D;
    text-align: left;
  }
  .main_menu {
    height: 50px;
    z-index: 999;
  }
  .main_menu #navbarSupportedContent {
    background: #f1f1f1;
    text-align: center;
  }
  .main_menu {
    background: #f1f1f1;
    top: 0px;
  }
  .main_menu .menu_item ul li a {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #244D4D;
  }
  .main_menu a {
    font-family: 'Noto Serif JP';
    font-size: 20px;
    color: #244D4D;
  }
  #banner_part .container .banner_slider .slick-slide {
    padding: 0 12px;
  }
  #banner_part .container .banner_slider .banner_image img {
    height: 260px;
    margin-top: 0;
  }
  #banner_part .container .content .inner_content h2 {
    font-family: 'Noto Serif JP';
    font-size: 20px;
  }
  #banner_part .container .content .inner_content {
    left: 256px;
    top: -127px;
    width: 216px;
    height: 200px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
  }
  #banner_part .container .content .inner_content p {
    font-family: 'Google Sans';
    font-size: 14px;
    margin-top: -47px;
  }
  #banner_part .container .content .inner_content p span {
    display: block;
    margin-top: -10px;
  }
  #banner_part .container .icon {
    position: relative;
    display: none;
  }
  #client_part {
    padding: 10px 0 20px;
  }
  #client_part .shape .container .head p {
    font-size: 15px;
  }
  #client_part .shape .container .client_all_logo .client_one_logo img {
    left: 175px;
  }
  #client_part .shape .container .client_all_logo .client_two_logo img {
    left: 175px;
  }
  #client_part .shape .container .client_all_logo .client_three_logo img {
    left: 175px;
  }
  #client_part .shape .container .client_all_logo .client_four_logo img {
    left: 175px;
  }
  #client_part .shape .container .client_all_logo .client_five_logo img {
    left: 175px;
  }
  #deals_part {
    padding: 10px 0 10px;
  }
  #deals_part .container .deals_left h2 {
    font-family: 'Noto Serif JP';
    font-size: 28px;
    text-align: center;
  }
  #deals_part .container .deals_left h2 span {
    display: inline-block;
  }
  #deals_part .container .deals_left .left_image img {
    left: 255px;
    top: 57px;
  }
  #deals_part .container .deals_left p {
    font-family: 'Google Sans';
    margin-top: -5px;
    text-align: center;
  }
  #deals_part .container .deals_left p span {
    margin-top: -3px;
  }
  #deals_part .container .deals_md_one {
    margin-left: 0;
    text-align: center;
    margin-top: 38px;
  }
  #deals_part .container .deals_md_one .deals_md_image {
    width: 14px;
  }
  #deals_part .container .deals_md_one .deals_md_image {
    position: relative;
  }
  #deals_part .container .deals_md_one .deals_md_image img {
    position: absolute;
    left: 165px;
    top: 6px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  #about_part {
    padding: 10px 0 20px;
  }
  #about_part .container .about_head h1 {
    font-family: 'Noto Serif JP';
    font-size: 30px;
    text-align: center;
  }
  #about_part .container .about_head p span {
    display: inline-block;
  }
  #about_part .container .about_head p {
    font-family: 'Google Sans';
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    margin-top: -7px;
  }
  #about_part .container .submit a {
    position: absolute;
    font-size: 15px;
    margin-right: 115px;
    padding: 6px 30px;
    margin-top: -15px;
  }
  #about_part .container .information h2 {
    font-family: 'Google Sans';
    font-size: 35px;
    text-align: center;
    margin-top: 23px;
  }
  #about_part .container .information h2 span {
    font-size: 20px;
    margin-top: -38px;
  }
  #about_part .container .information p {
    font-family: 'Google Sans';
    text-align: center;
    margin-top: -14px;
    font-size: 20px;
  }
  #about_part .container .responsive_margin {
    margin-top: 13px;
  }
  .about_image_part_three {
    margin-top: 20px;
  }
  #about_part .container .image_first {
    margin-top: 30px;
  }
  .filter_break {
    margin-top: 136px;
  }
  #product_part .container .filter_img .image_filter {
    position: relative;
    width: 100px;
  }
  #product_part .container .filter_img .image_filter img {
    height: 185px;
    left: 197px !important;
    top: -34px;
  }
  #product_part .container .break_down {
    margin-top: 0 !important;
  }
  #product_part .container .last_row {
    margin-top: 40px !important;
  }
  #comment_part {
    padding: 80px 0 50px !important;
  }
  #comment_part .container .head h3 span {
    display: inline-block !important;
  }
  #comment_part .container .head h3 {
    font-family: 'Noto Serif JP';
    font-size: 30px !important;
    line-height: 38px !important;
  }
  #comment_part .container .shape_image_one {
    width: 30px !important;
  }
  #comment_part .container .shape_image_two {
    width: 50px !important;
  }
  #comment_part .container .head p span {
    display: inline-block !important;
  }
  #comment_part .container .head p {
    font-family: 'Google Sans';
    font-size: 14px !important;
    line-height: 23px !important;
  }
  #comment_part .container .container_shape .shape_image_one img {
    position: absolute;
    left: 0;
    top: -130px !important;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #comment_part .container .shape_image_two img {
    position: absolute;
    left: 0;
    top: -120px !important;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #comment_part .container .folder_image img {
    position: absolute;
    left: 427px !important;
    top: -8px !important;
  }
  #comment_part .container .folder_image::after {
    position: absolute;
    left: 425px !important;
    top: -29px !important;
    width: 34px !important;
    height: 35px !important;
    line-height: 30px !important;
  }
  #comment_part .container .container_shape .folder_image {
    width: 30px !important;
  }
  #comment_part .container .container_shape .comment_image .text h6 {
    font-family: 'Noto Serif JP';
    font-style: italic;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 30px;
    color: #5E7388;
    margin-top: 30px;
  }
  #comment_part .container .container_shape .comment_image img {
    height: 228px !important;
    margin-left: 22px;
  }
  #comment_part .container .container_shape .comment_image .text .name p {
    font-family: 'Google Sans';
    margin-top: -1px !important;
  }
  #comment_part .container .container_shape .round_image img {
    left: 38px !important;
  }
  #comment_part .container .container_shape .comment_image .text a {
    left: -668px !important;
    top: 70px !important;
  }
  #comment_part .container .container_shape .comment_slider {
    margin-top: 35px !important;
  }
  #footer_part .container .footer_head h2 {
    font-family: 'Google Sans';
    font-size: 39px !important;
    line-height: 40px !important;
    text-align: center;
  }
  #footer_part .container .submit {
    text-align: center !important;
  }
  #footer_part .container .submit a {
    font-family: 'Inter';
    font-size: 16px !important;
    line-height: 23px !important;
    text-align: center !important;
    padding: 9px 15px !important;
    margin-top: 15px !important;
  }
  #footer_part .container .footer_logo {
    text-align: center;
    margin-top: -90px !important;
  }
  #footer_part .container .footer_logo p {
    font-family: 'Google Sans';
    margin-top: 14px !important;
  }
  #footer_part .container .footer_logo .social ul {
    margin-left: 188px !important;
  }
  #footer_part .container .types {
    text-align: center;
  }
  #footer_part .container .types {
    text-align: center;
    margin-top: 40px !important;
  }
  #footer_part .container .types .head h4 {
    font-size: 24px !important;
  }
  #footer_part .container .types ul li {
    font-family: 'Inter';
    font-size: 16px !important;
  }
  #footer_part .container .types ul {
    margin-top: 20px !important;
  }
  #footer_part .container::after {
    position: absolute;
    content: '';
    left: 0;
    top: 163px !important;
  }
  #footer_part {
    padding: 30px 0 0px;
    background: #244D4D;
  }
}

/* =======******====== Small part one End ======******====== */
/* =======******====== Small part one End ======******====== */
/* =======******====== Small part Two ======******====== */
/* =======******====== Small part Two ======******====== */
@media (max-width: 575.98px) {
  .main_menu {
    height: 50px;
    z-index: 999;
  }
  .main_menu #navbarSupportedContent {
    background: #f1f1f1;
    text-align: center;
  }
  .main_menu {
    background: #f1f1f1;
    top: 0px;
  }
  .main_menu .menu_item ul li a {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #244D4D;
  }
  .main_menu a {
    font-family: 'Noto Serif JP';
    font-size: 20px;
    color: #244D4D;
  }
  .main_menu .menu_right a {
    margin: 0 8px;
    color: #242424;
    font-size: 14px;
  }
  .main_menu .menu_right .bars a {
    color: #242424;
    font-size: 14px;
    display: none;
  }
  .main_menu .menu_right .search a {
    display: none;
  }
  .navbar-toggler:focus {
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
  }
  .main_menu button i {
    color: #244D4D;
    margin-left: 68px;
  }
  #banner_part .container .banner_slider .slick-slide {
    padding: 0 12px;
  }
  #banner_part .container .banner_slider .banner_image img {
    height: 260px;
    margin-top: 0;
  }
  #banner_part .container .content .inner_content h2 {
    font-family: 'Noto Serif JP';
    font-size: 20px;
  }
  #banner_part .container .content .inner_content {
    left: 141px;
    top: -127px;
    width: 216px;
    height: 200px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
  }
  #banner_part .container .content .inner_content p {
    font-family: 'Google Sans';
    font-size: 14px;
    margin-top: -47px;
  }
  #banner_part .container .content .inner_content p span {
    display: block;
    margin-top: -10px;
  }
  #banner_part .container .icon {
    position: relative;
    display: none;
  }
  #client_part {
    padding: 10px 0 20px;
  }
  #client_part .shape .container .head p {
    font-size: 13px;
  }
  #client_part .shape .container .client_all_logo .client_one_logo img {
    left: 65px;
  }
  #client_part .shape .container .client_all_logo .client_two_logo img {
    left: 64px;
  }
  #client_part .shape .container .client_all_logo .client_three_logo img {
    left: 67px;
  }
  #client_part .shape .container .client_all_logo .client_four_logo img {
    left: 66px;
  }
  #client_part .shape .container .client_all_logo .client_five_logo img {
    left: 64px;
  }
  #deals_part {
    padding: 10px 0 10px;
  }
  #deals_part .container .deals_left h2 {
    font-family: 'Noto Serif JP';
    font-size: 28px;
    text-align: center;
  }
  #deals_part .container .deals_left h2 span {
    display: inline-block;
  }
  #deals_part .container .deals_left .left_image img {
    left: 135px;
    top: 55px;
  }
  #deals_part .container .deals_left p {
    font-family: 'Google Sans';
    margin-top: -5px;
    text-align: center;
  }
  #deals_part .container .deals_left p span {
    margin-top: -3px;
  }
  #deals_part .container .deals_md_one {
    margin-left: 0;
    text-align: center;
    margin-top: 38px;
  }
  #deals_part .container .deals_md_one .deals_md_image {
    width: 14px;
  }
  #deals_part .container .deals_md_one .deals_md_image {
    position: relative;
  }
  #deals_part .container .deals_md_one .deals_md_image img {
    position: absolute;
    left: 55px;
    top: 6px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  #about_part {
    padding: 10px 0 20px;
  }
  #about_part .container .about_head h1 {
    font-family: 'Noto Serif JP';
    font-size: 30px;
    text-align: center;
  }
  #about_part .container .about_head p span {
    display: inline-block;
  }
  #about_part .container .about_head p {
    font-family: 'Google Sans';
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    margin-top: -7px;
  }
  #about_part .container .submit a {
    position: absolute;
    font-size: 15px;
    text-align: center;
    padding: 6px 30px;
    margin-top: -15px;
  }
  #about_part .container .information h2 {
    font-family: 'Google Sans';
    font-size: 35px;
    text-align: center;
    margin-top: 23px;
  }
  #about_part .container .information h2 span {
    font-size: 20px;
    margin-top: -38px;
  }
  #about_part .container .information p {
    font-family: 'Google Sans';
    text-align: center;
    margin-top: -14px;
  }
  #about_part .container .responsive_margin {
    margin-top: 13px;
  }
  .about_image_part_three {
    margin-top: 20px;
  }
  #about_part .container .image_first {
    margin-top: 30px;
  }
  #product_part {
    padding: 5px 0 !important;
  }
  #product_part .container .head h3 {
    font-family: 'Noto Serif JP';
    font-size: 30px !important;
    text-align: center !important;
  }
  #product_part .container .filer_menu ul li {
    padding: 10px 9px !important;
  }
  .filter_break {
    margin-top: 95px !important;
  }
  #product_part .container .filter_img .image_filter {
    position: relative !important;
    width: 100px !important;
  }
  #product_part .container .filter_img .image_filter img {
    height: 185px !important;
    left: 98px !important;
    top: -34px !important;
  }
  #product_part .container .break_down {
    margin-top: 0 !important;
  }
  #product_part .container .last_row {
    margin-top: 40px !important;
  }
  #comment_part {
    padding: 80px 0 50px !important;
  }
  #comment_part .container .head h3 span {
    display: inline-block !important;
  }
  #comment_part .container .head h3 {
    font-family: 'Noto Serif JP';
    font-size: 30px !important;
    line-height: 38px !important;
  }
  #comment_part .container .shape_image_one {
    width: 30px !important;
  }
  #comment_part .container .shape_image_two {
    width: 50px !important;
  }
  #comment_part .container .head p span {
    display: inline-block !important;
  }
  #comment_part .container .head p {
    font-family: 'Google Sans';
    font-size: 14px !important;
    line-height: 23px !important;
  }
  #comment_part .container .shape_image_two img {
    position: absolute;
    left: 0;
    top: -159px !important;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #comment_part .container .shape_image_one img {
    top: -170px !important;
  }
  #comment_part .container .comment_image .text a {
    padding: 6px 8px !important;
    left: -548px !important;
    top: 32px !important;
    font-size: 9px !important;
  }
  #comment_part .container .folder_image img {
    position: absolute;
    left: 218px !important;
    top: -71px !important;
  }
  #comment_part .container .folder_image::after {
    position: absolute;
    left: 216px !important;
    top: -93px !important;
    width: 34px !important;
    height: 35px !important;
    line-height: 30px !important;
  }
  .comment_image {
    display: block !important;
  }
  .slider .slick-slide {
    padding: 0 12px;
  }
  #comment_part .container .container_shape .comment_image img {
    height: 151px !important;
    margin-left: 0px !important;
  }
  #comment_part .container .container_shape .comment_image .text {
    position: relative !important;
    margin-left: 45px !important;
  }
  #comment_part .container .container_shape .comment_image .text h6 {
    font-family: 'Noto Serif JP';
    font-size: 12px !important;
    line-height: 17px !important;
    margin-top: 10px !important;
    margin-left: -23px !important;
  }
  #comment_part .container .container_shape .round_image {
    position: relative !important;
    width: 20px !important;
  }
  #comment_part .container .container_shape .round_image img {
    position: absolute;
    left: 71px !important;
    bottom: 8px !important;
  }
  #comment_part .container .container_shape .comment_image .text .name p {
    font-family: 'Google Sans';
    font-size: 16px !important;
    margin-top: -25px !important;
  }
  #comment_part .container .container_shape .comment_image .text .name .second_p {
    font-family: 'Google Sans';
    font-size: 11px !important;
    margin-top: 0px !important;
  }
  #comment_part .container .container_shape .comment_slider {
    margin-top: 25px !important;
  }
  #comment_part .container .comment_image .text a {
    padding: 6px 8px !important;
    left: -658px !important;
    top: -112px !important;
  }
  #comment_part .container .container_shape .comment_image .text {
    position: relative !important;
    margin-left: 40px !important;
  }
  #comment_part .container .container_shape .folder_image {
    width: 30px !important;
  }
  #footer_part .container .footer_head h2 {
    font-family: 'Google Sans';
    font-size: 28px !important;
    line-height: 40px !important;
    text-align: center;
  }
  #footer_part .container .submit {
    text-align: center !important;
  }
  #footer_part .container .submit a {
    font-family: 'Inter';
    font-size: 13px !important;
    line-height: 23px !important;
    text-align: center !important;
    padding: 9px 15px !important;
    margin-top: 15px !important;
  }
  #footer_part .container .footer_logo {
    text-align: center;
    margin-top: -90px !important;
  }
  #footer_part .container .footer_logo p {
    font-family: 'Google Sans';
    margin-top: 14px !important;
  }
  #footer_part .container .footer_logo .social ul {
    margin-left: 70px !important;
  }
  #footer_part .container .types {
    text-align: center;
  }
  #footer_part .container .types {
    text-align: center;
    margin-top: 20px !important;
  }
  #footer_part .container::after {
    position: absolute;
    content: '';
    left: 0;
    top: 163px !important;
  }
  #footer_part {
    padding: 30px 0 0px;
    background: #244D4D;
  }
}

/* =======******====== Small part Two End ======******====== */
/* =======******====== Small part Two End ======******====== */
/* =======******====== responsive Part ======******====== */
/* =======******====== responsive Part ======******====== */
#comment_part {
  padding: 180px 0 50px;
}

#comment_part .container .container_shape {
  padding: 50px 0;
  background: #F4F6F6;
}

#comment_part .container .container_shape .head h3 {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 68px;
  text-align: center;
  color: #244D4D;
}

#comment_part .container .container_shape .head h3 span {
  display: block;
}

#comment_part .container .container_shape .head p {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #3A4F65;
  margin-top: 15px;
}

#comment_part .container .container_shape .head p span {
  display: block;
}

#comment_part .container .container_shape .shape_image_one {
  position: relative;
  width: 130px;
}

#comment_part .container .container_shape .shape_image_one img {
  position: absolute;
  left: 0;
  top: -212px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#comment_part .container .container_shape .shape_image_two {
  width: 200px;
  position: relative;
}

#comment_part .container .container_shape .shape_image_two img {
  position: absolute;
  left: 0;
  top: -180px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#comment_part .container .container_shape .comment_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#comment_part .container .container_shape .comment_image img {
  height: 350px;
  margin-left: 22px;
}

#comment_part .container .container_shape .comment_image .text {
  position: relative;
  margin-left: 50px;
}

#comment_part .container .container_shape .comment_image .text a {
  padding: 10px 13px;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 30px 30px 70px rgba(160, 160, 194, 0.25);
          box-shadow: 30px 30px 70px rgba(160, 160, 194, 0.25);
  position: absolute;
  left: -381px;
  top: 100px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#comment_part .container .container_shape .comment_image .text a i {
  color: #FFCD38;
}

#comment_part .container .container_shape .comment_image .text h3 {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 37px;
  letter-spacing: -0.03em;
  color: #244D4D;
}

#comment_part .container .container_shape .comment_image .text h6 {
  font-family: 'Noto Serif JP';
  font-style: italic;
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  color: #5E7388;
  margin-top: 30px;
}

#comment_part .container .container_shape .comment_image .text .name {
  margin-top: 30px;
}

#comment_part .container .container_shape .comment_image .text .name p {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #152137;
}

#comment_part .container .container_shape .comment_image .text .name .second_p {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: -0.01em;
  color: #647383;
}

#comment_part .container .container_shape .slider .prv_arr {
  position: absolute;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 30px 30px 70px rgba(160, 160, 194, 0.25);
          box-shadow: 30px 30px 70px rgba(160, 160, 194, 0.25);
  top: 82%;
  z-index: 999;
  left: 50%;
  cursor: pointer;
}

#comment_part .container .container_shape .slider .nxt_arr {
  position: absolute;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 30px 30px 70px rgba(160, 160, 194, 0.25);
          box-shadow: 30px 30px 70px rgba(160, 160, 194, 0.25);
  right: 39%;
  bottom: 8%;
  cursor: pointer;
}

#comment_part .container .container_shape .round_image {
  position: relative;
  width: 35px;
}

#comment_part .container .container_shape .round_image img {
  position: absolute;
  left: 150px;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#comment_part .container .container_shape .folder_image {
  position: relative;
  width: 50px;
  z-index: 1;
}

#comment_part .container .container_shape .folder_image img {
  position: absolute;
  left: 857px;
  top: -112px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#comment_part .container .container_shape .folder_image:after {
  position: absolute;
  content: '';
  left: 852px;
  top: -146px;
  width: 60px;
  height: 55px;
  line-height: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 30px 30px 70px rgba(160, 160, 194, 0.25);
          box-shadow: 30px 30px 70px rgba(160, 160, 194, 0.25);
  text-align: center;
  z-index: -1;
  border-radius: 50%;
}

#comment_part .container .container_shape .comment_slider {
  margin-top: 70px;
}

#product_part {
  padding: 50px 0;
}

#product_part .container .head h3 {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 72px;
  letter-spacing: 0.01em;
  color: #244D4D;
}

#product_part .container .button {
  margin-top: 20px;
}

#product_part .container .button a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #3D3D3F;
  margin-right: 20px;
}

#product_part .container .button i {
  position: relative;
  margin-left: 30px;
  z-index: 1;
}

#product_part .container .button i::after {
  position: absolute;
  content: '';
  right: -11px;
  top: 2px;
  width: 21px;
  height: 12px;
  line-height: 12px;
  background: #F4F6F6;
  -webkit-box-shadow: 30px 30px 70px rgba(160, 160, 194, 0.25);
          box-shadow: 30px 30px 70px rgba(160, 160, 194, 0.25);
  z-index: -1;
}

#product_part .container .filer_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#product_part .container .filer_menu ul li {
  padding: 10px 25px;
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #A9A7A6;
  cursor: pointer;
}

#product_part .container .filter_img .image_back {
  width: 100%;
  height: 300px;
  background-color: #F4F6F6;
  position: relative;
  position: relative;
}

#product_part .container .filter_img .image_back h3 {
  position: absolute;
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  color: #3D3D3F;
  text-align: center;
  left: 95px;
  top: 70px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#product_part .container .filter_img .image_back p {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: #3D3D3F;
  text-align: center;
  margin-left: 4px !important;
  position: absolute;
  left: 95px;
  top: 90px;
}

#product_part .container .filter_img .image_back p span {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #A9A7A6;
  font-size: 13px;
  margin-left: 20px;
}

#product_part .container .filter_img .image_back a {
  position: absolute;
  right: 0;
  top: -21px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 11px 16px;
  border-radius: 50%;
  background: #D6C4B8;
  font-size: 13px;
  color: #ffff;
}

#product_part .container .filter_img .image_back .left_break_one {
  margin-left: -26px;
}

#product_part .container .filter_img .image_back .left_break_two {
  margin-left: -4px;
}

#product_part .container .filter_img .image_back .left_break_three {
  margin-left: -28px;
}

#product_part .container .filter_img .image_back .left_break_four {
  margin-left: -20px;
}

#product_part .container .filter_img .image_back .left_break_five {
  margin-left: -41px;
}

#product_part .container .filter_img .image_filter {
  position: relative;
  width: 110px;
}

#product_part .container .filter_img .image_filter img {
  position: absolute;
  height: 220px;
  left: 116px;
  top: 7px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#product_part .container .break_down {
  margin-top: 165px;
}

#product_part .container .last_row {
  margin-top: 100px;
}

#product_part .container .left_break_one {
  margin-left: 10px;
}

#footer_part {
  padding: 30px 0 40px;
  background: #244D4D;
}

#footer_part .container {
  position: relative;
}

#footer_part .container::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 273px;
  height: 1px;
  width: 100%;
  background: #FCFBFF;
}

#footer_part .container .footer_head h2 {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #FFFFFF;
}

#footer_part .container .submit a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #244D4D;
  padding: 12px 30px;
  background: #FCFBFF;
  border-radius: 20px;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  margin: 0 5px;
}

#footer_part .container .submit a:hover {
  background: #3A5F5F;
  color: #FCFBFF;
}

#footer_part .container .footer_row {
  margin-top: 130PX;
}

#footer_part .container .footer_logo a {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 37px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

#footer_part .container .footer_logo p {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #EEEEEE;
  margin-top: 20px;
}

#footer_part .container .footer_logo p span {
  display: block;
}

#footer_part .container .footer_logo .social {
  margin-top: 20px;
}

#footer_part .container .footer_logo .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -14px;
}

#footer_part .container .footer_logo .social ul li {
  margin: 0 10px;
  color: #FCFBFF;
  cursor: pointer;
}

#footer_part .container .types .head h4 {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;
}

#footer_part .container .types ul {
  margin-top: 12px;
}

#footer_part .container .types ul li {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #EEEEEE;
  margin: 6px 0;
  cursor: pointer;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

#footer_part .container .types ul li:hover {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
/*# sourceMappingURL=style.css.map */