// ====================== Comment Part ====================== //
#comment_part {
    padding: 180px 0 50px;

    .container {
        

        .container_shape{
            padding: 50px 0;
        background: #F4F6F6;



        .head {
            h3 {
                font-family: 'Noto Serif JP';
                font-style: normal;
                font-weight: 700;
                font-size: 58px;
                line-height: 68px;
                text-align: center;
                color: #244D4D;

                span {
                    display: block;
                }
            }

            p {
                font-family: 'Google Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                text-align: center;
                letter-spacing: -0.01em;
                color: #3A4F65;
                margin-top: 15px;

                span {
                    display: block;
                }
            }
        }

        .shape_image_one {
            position: relative;
            width: 130px;

            img {
                position: absolute;
                left: 0;
                top: -212px;
                transform: translateY(-50%);
            }
        }

        .shape_image_two {
            width: 200px;
            position: relative;

            img {
                position: absolute;
                left: 0;
                top: -180px;
                transform: translateY(-50%);
            }
        }


        .comment_image {
            display: flex;

            img {
                height: 350px;
                margin-left: 22px;
            }

            .text {
                position: relative;
                margin-left: 50px;


                a {

                    padding: 10px 13px;
                    border-radius: 50%;
                    background: #FFFFFF;
                    box-shadow: 30px 30px 70px rgba(160, 160, 194, 0.25);
                    position: absolute;
                    left: -381px;
                    top: 100px;
                    transform: translateY(-50%);

                    i {
                        color: #FFCD38;
                    }



                }

                h3 {
                    font-family: 'Noto Serif JP';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 26px;
                    line-height: 37px;
                    letter-spacing: -0.03em;
                    color: #244D4D;
                }

                h6 {
                    font-family: 'Noto Serif JP';
                    font-style: italic;
                    font-weight: 500;
                    font-size: 23px;
                    line-height: 30px;
                    color: #5E7388;
                    margin-top: 30px;
                }

                .name {
                    margin-top: 30px;

                    p {
                        font-family: 'Google Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 28px;
                        color: #152137;
                    }

                    .second_p {
                        font-family: 'Google Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 11px;
                        line-height: 15px;
                        letter-spacing: -0.01em;
                        color: #647383;

                    }
                }


            }
        }

        .slider {
            .prv_arr {
                position: absolute;
                width: 35px;
                height: 35px;
                line-height: 35px;
                text-align: center;
                border-radius: 50%;
                background: #FFFFFF;
                box-shadow: 30px 30px 70px rgba(160, 160, 194, 0.25);
                top: 82%;
                z-index: 999;
                left: 50%;
                cursor: pointer;

            }

            .nxt_arr {
                position: absolute;
                width: 35px;
                height: 35px;
                line-height: 35px;
                text-align: center;
                border-radius: 50%;
                background: #FFFFFF;
                box-shadow: 30px 30px 70px rgba(160, 160, 194, 0.25);
                right: 39%;
                bottom: 8%;
                cursor: pointer;
            }
        }

        .round_image {
            position: relative;
            width: 35px;

            img {
                position: absolute;
                left: 150px;
                bottom: 0;
                transform: translate(-50%, -50%);
            }
        }

        .folder_image {

            position: relative;
            width: 50px;
            z-index: 1;

            img {
                position: absolute;
                left: 857px;
                top: -112px;
                transform: translateY(-50%);
            }

            &:after {
                position: absolute;
                content: '';
                left: 852px;
                top: -146px;
                width: 60px;
                height: 55px;
                line-height: 30px;
                background: #FFFFFF;
                box-shadow: 30px 30px 70px rgba(160, 160, 194, 0.25);
                text-align: center;
                z-index: -1;
                border-radius: 50%;
            }
        }

        .comment_slider{
            margin-top: 70px;
        }
        }

        
    }
}

// ====================== Comment Part ====================== //